.well.subscription
  = simple_form_for :subscription, url: subscription_path, html: { class: 'row form' } do |f|
    .col-sm-9
      = f.input :email, label: false, placeholder: t('activerecord.attributes.subscription.email'), class: ''
    .col-sm-3
      = f.submit t('common.subscribe'), class: 'submit'
