@import "global/settings";

$font-size: 20px;

.b-jobs {
  .row {
    background: $c-white;

    &:not(:first-child) {
      border: 1px solid;
    }
  }

  .job-post-title {
    h4 {
      font-weight: bold;
    }
  }

  &-cart_company {
    font-size: $font-size;
    color: $c-dark-gray;
  }

  &_company {
    color: $c-blue;
  }
}

.job-phone {
  font-size: $font-size;
  font-weight: 100;
  color: $c-dark-gray;
}
