%li
  = link_to t('views.footer.facebook'), target: '_blank' do
    %i.fa.fa-facebook
%li
  = link_to t('views.footer.twitter'), target: '_blank' do
    %i.fa.fa-twitter
%li
  = link_to t('views.contacts.telegram'), target: '_blank' do
    %i.fa.fa-telegram
%li
  = link_to 'https://github.com/howtohireme/juniorjobs.ru', target: '_blank' do
    %i.fa.fa-github
