%li
  = link_to 'https://www.facebook.com/juniorjobsru-1186070264856936/', target: '_blank' do
    %i.fa.fa-facebook
%li
  = link_to 'https://twitter.com/juniorjobsru', target: '_blank' do
    %i.fa.fa-twitter
%li
  = link_to 'https://github.com/howtohireme/juniorjobs.ru', target: '_blank' do
    %i.fa.fa-github
