.topbar{ class: ['gray'] }
  .container
    .row
      .col-sm-12.text-align-center
        = t('layouts.shared.topbar.free')
        = link_to new_job_path, class: ['c-composite-link', 'new-job'] do
          = t('layouts.shared.topbar.add')
