.topbar{ class: ['gray'] }
  .container
    .row
      .col-sm-12.text-align-center
        = 'Публикация совершенно бесплатна и не требует регистрации.'
        = link_to new_job_path, class: ['c-composite-link', 'new-job'] do
          = 'Добавить вакансию'
