= f.input :address, label: false, placeholder: t('activerecord.attributes.cv.address')
= f.input :phone, label: false, placeholder: t('activerecord.attributes.job.company_phone')
= f.input :email, label: false, placeholder: t('activerecord.attributes.job.company_email')
= f.input :web_site, label: false, placeholder: t('activerecord.attributes.cv.web_site')
