%section.section-bg.m0.pb0
  .container.pl0
    .row
      .col-sm-12
        %h1.title-large.mb0
          = job.title
        %span
          = job.created_at.strftime('%d-%m-%Y')
          = '-'
          = job.expired_at.strftime('%d-%m-%Y')
