= simple_form_for :subscription, url: subscription_path, wrapper: :inline_form, html: { class: 'form-inline' } do |form|
  = form.input :email, placeholder: 'Enter email'
  = form.button :submit, 'Subscribe', class: "btn btn-primary"