@import "global/settings";

@mixin flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.page-404 {
  padding: 60px 0 40px;
  overflow: hidden;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.text-transform-uppercase {
  text-transform: uppercase !important;
}

.subscription {
  margin-top: 30px;
  border: 0;
  background-color: $c-green;

  .form {
    width: auto !important;

    .form-group {
      margin: 0;

      .submit {
        padding: 7px !important;
      }
    }
  }
}

.form-group {
  &.with-checkbox {
    margin: 0;
    padding-top: 7px;

    input[type="checkbox"] {
      display: inline-block;
      margin: 0;
    }

    label {
      display: inline-block;
      margin: 0;
      padding-left: 10px;
     }
  }
}

.display-none {
  display: none !important;
}
