@import "global/settings";

.c-composite-link {
  font-family: $font-family-fira-sans !important;

  > .fa {
    margin-right: 10px !important;
    font-size: larger;
  }

  &.new-job {
    padding: 8px 12px;
    border-radius: 4px;
    color: $c-white;
    background: $c-green;
    white-space: nowrap;
  }
}
