//= require theme/bootstrap.min.css
// require theme/font-awesome.min
// require theme/eleganticons
// require theme/rs-plugin/settings
//= require theme/owl.carousel
// require theme/ion.rangeSlider
// require theme/magnific-popup
// require theme/boxed
// require theme/colors/blue_grey
// require theme/dark
//= require theme/style
