apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: app-secrets
data:
  secret_key_base:         ${APP_SECRET}
  mailchimp_list_id:       ${MAILCHIMP_LIST_ID}
  mailchimp_access_key_id: ${MAILCHIMP_ACCESS_KEY_ID}
  github_client_id:        ${GITHUB_CLIENT_ID}
  github_secret:           ${GITHUB_SECRET}
  github_callback_domain:  ${GITHUB_CALLBACK_DOMAIN}
  #vk_token_ru:                 ${VK_TOKEN_RU}
  #vk_group_id_ru:              ${VK_GROUP_ID_RU}
  #fb_token_ru:                 ${FB_TOKEN_RU}
  #fb_group_id_ru:              ${FB_GROUP_ID_RU}
  #telegram_token_ru:           ${TELEGRAM_TOKEN_RU}
  #telegram_group_id_ru:        ${TELEGRAM_GROUP_ID_RU}
  #twitter_consumer_key:        ${TWITTER_CONSUMER_KEY}
  #twitter_consumer_secret:     ${TWITTER_CONSUMER_SECRET}
  #twitter_access_token:        ${TWITTER_ACCESS_TOKEN}
  #twitter_access_token_secret: ${TWITTER_ACCESS_TOKEN_SECRET}

