!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title JuniorjobsRu
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

  %body.l-body
    .l-flashes
    .l-header
    .l-content= yield
    .l-footer
      = javascript_include_tag 'application'
